@use "./functions";
@use "./typography";
@use "colors";

.article {
  background-color: #fff;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: functions.rem(30);
    padding: functions.rem(30);
  }
  &__title {
    font-size: typography.$fs-700;
    color: colors.$clr-Very-Dark-Grayish-Blue;
  }

  &__description {
    font-size: typography.$fs-500;
    color: colors.$clr-Desaturated-Dark-Blue;
  }

  &__footer {
    display: flex;
    &-active {
      background-color: colors.$clr-Very-Dark-Grayish-Blue;
      // color: colors.$clr-Light-Grayish-Blue;
      font-size: typography.$fs-500;
      text-transform: uppercase;
      letter-spacing: 6px;
      button {
        background-color: #fff;
      }
      display: flex;
    }
  }
}
