@use "./functions";
@use "./typography";
@use "./colors";

.footer {
  padding: functions.rem(25);
  gap: functions.rem(20);
  &__avatar {
    border-radius: 50%;
    $avatar-size: 50;
    width: functions.rem($avatar-size);
    height: functions.rem($avatar-size);
  }

  &__text {
    display: flex;
    flex-direction: column;
    color: colors.$clr-Desaturated-Dark-Blue;
    b {
      font-size: typography.$fs-500;
      color: colors.$clr-Very-Dark-Grayish-Blue;
    }
  }

  button {
    margin-left: auto;
    border-radius: 50%;
    $share-size: 40;
    width: functions.rem($share-size);
    height: functions.rem($share-size);
    border: none;
  }
}
